.method {
  h1 {
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: var(--color-blue-200);
    @media screen and (width <= 1440px) {
      font-size: 38px;
    }
    @media screen and (width <= 992px) {
      font-size: 20px;
    }
  }

  h2 {
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: var(--color-blue-200);
    @media screen and (width <= 1440px) {
      font-size: 28px;
    }
    @media screen and (width <= 768px) {
      font-size: 15px;
    }
  }

  h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: var(--color-blue-200);

    @media screen and (width <= 1440px) {
      font-size: 26px;
    }
    @media screen and (width <= 768px) {
      font-size: 14px;
    }
  }

  h4 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: var(--color-blue-200);

    @media screen and (width <= 1440px) {
      font-size: 24px;
    }
    @media screen and (width <= 768px) {
      font-size: 14px;
    }
  }

  h5 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: var(--color-blue-200);

    @media screen and (width <= 1440px) {
      font-size: 22px;
    }
    @media screen and (width <= 768px) {
      font-size: 13px;
    }
  }

  h6 {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: var(--color-blue-200);

    @media screen and (width <= 1440px) {
      font-size: 20px;
    }
    @media screen and (width <= 768px) {
      font-size: 13px;
    }
  }

  p {
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    color: var(--color-blue-200);
    @media screen and (width <= 992px) {
      font-size: 18px;
    }
    @media screen and (width <= 768px) {
      font-size: 12px;
    }
  }

  a {
    font-weight: 700;
    transition: 0.3s color;
    &:hover {
      color: var(--color-orange);
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
    list-style: disc;
    padding-left: 20px;
  }
  ol {
    display: flex;
    flex-direction: column;
    gap: 14px;
    list-style: decimal;
    padding-left: 20px;
  }
}
