.section {
	&__profile {
		padding-top: 0;
	}
}
.profile__container-wrapper {
	display: flex;
	flex-direction: column;
	gap: 60px;
	@media screen and (width <= 1440px) {
		gap: 30px;
	}
	@media screen and (width <= 992px) {
		gap: 20px;
	}
}
.profile {
	display: flex;
	gap: 60px;
	position: relative;
	@media screen and (width <= 1440px) {
		gap: 30px;
	}
	@media screen and (width <= 992px) {
		gap: 20px;
	}
	&__container {
		display: flex;
		gap: 60px;
		@media screen and (width <= 1440px) {
			gap: 40px;
		}
		@media screen and (width <= 1280px) {
			flex-direction: column;
		}
		@media screen and (width <= 768px) {
			gap: 20px;
		}
	}
	&__container-left {
		width: 100%;
		max-width: 1153px;
		display: flex;
		flex-direction: column;
		gap: 60px;
		@media screen and (width <= 1440px) {
			gap: 40px;
		}
		@media screen and (width <= 1280px) {
			max-width: 100%;
		}
		@media screen and (width <= 768px) {
			gap: 20px;
		}
	}
	&__container-right {
		max-width: 547px;
		width: 100%;
		flex-shrink: 1;
		display: flex;
		flex-direction: column;
		gap: 60px;
		@media screen and (width <= 1440px) {
			gap: 40px;
		}
		@media screen and (width <= 1280px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			max-width: 100%;
		}
		@media screen and (width <= 992px) {
			grid-template-columns: repeat(1, 1fr);
		}
		@media screen and (width <= 768px) {
			gap: 20px;
		}
	}

	&_image {
		max-width: 320px;
		width: 100%;
		@media screen and (width <= 1440px) {
			max-width: 200px;
		}
		@media screen and (width <= 768px) {
			max-width: 110px;
		}
		img {
			max-width: 100%;
			width: 100%;
			height: auto;
			@media screen and (width <= 768px) {
				height: 123px;
			}
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
	}
	&__badge {
		background: var(--color-blue-100);
		color: #fff;
		max-width: fit-content;
		margin-left: auto;
		cursor: default;
		@media screen and (width <= 768px) {
			position: absolute;
			left: 0;
			top: 113px;
		}
	}
	&__name {
		margin-top: 2px;
		font-size: 60px;
		font-style: normal;
		font-weight: 700;
		line-height: 108.333%;
		@media screen and (width <= 1440px) {
			font-size: 46px;
			margin-top: -30px;
		}
		@media screen and (width <= 1280px) {
			margin-top: 0;
		}
		@media screen and (width <= 992px) {
			font-size: 34px;
		}
		@media screen and (width <= 768px) {
			font-size: 20px;
		}
	}
	&__position {
		font-weight: 400;
		font-size: 25px;
		font-style: normal;
		font-weight: 400;
		margin-top: 25px;
		line-height: 30px;
		@media screen and (width <= 1440px) {
			font-size: 22px;
			margin-top: 15px;
		}
		@media screen and (width <= 768px) {
			font-size: 12px;
			margin-top: 10px;
			line-height: 1;
		}
	}
	&__text {
		margin-top: 30px;
		font-size: 21px;
		font-style: normal;
		font-weight: 400;
		line-height: 27px;
		color: var(--color-blue-200);
		@media screen and (width <= 1440px) {
			font-size: 18px;
			margin-top: 20px;
		}
		@media screen and (width <= 768px) {
			display: none;
		}
	}
	&__text-mob {
		display: none;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 16px;
		padding: 20px;
		background: var(--color-blue-40);
		color: var(--color-blue-200);
		@media screen and (width <= 768px) {
			display: block;
			padding-top: 0;
		}
	}
	&__list {
		margin-top: 30px;
		display: flex;
		gap: 40px;
		width: 100%;
		flex-wrap: wrap;
		row-gap: 20px;
		@media screen and (width <= 1440px) {
			gap: 20px;
		}
		@media screen and (width <= 768px) {
			margin-top: 15px;
			gap: 11px;
		}
	}
	&__list-item {
		max-width: fit-content;
		display: flex;
		@media screen and (width <= 768px) {
			&:nth-child(1) {
				order: 1;
			}
			&:nth-child(2) {
				order: 3;
			}
			&:nth-child(3) {
				order: 2;
			}
		}
	}
	&__list-link {
		max-width: fit-content;
		@media screen and (width <= 768px) {
			padding: 11px;
		}
		span {
			display: inline-block;
			margin-left: -2px;
			@media screen and (width <= 768px) {
				display: none;
			}
		}
	}
}

// Quote
.cost__container {
	@media screen and (width <= 992px) {
		order: 1;
	}
}
.quote {
	grid-template-columns: repeat(1, 1fr);
	gap: 0;

	&__container {
		position: relative;
		z-index: 0;
		overflow: hidden;
		@media screen and (width <= 992px) {
			order: 2;
		}
	}
	&__img {
		position: absolute;
		right: 0px;
		top: 0px;
		z-index: -1;
		height: 308px;
		@media screen and (width <= 1280px) {
			height: 330px;
		}
		@media screen and (width <= 992px) {
			max-width: 194px;
			height: auto;
		}
	}
	&__title {
		color: #fff;
		font-size: 60px;
		font-style: normal;
		font-weight: 700;
		line-height: 126%;
		letter-spacing: -0.6px;
		@media screen and (width <= 1440px) {
			font-size: 54px;
			display: flex;
			margin: auto 0;
		}
		@media screen and (width <= 992px) {
			font-size: 34px;
			max-width: 420px;
		}
		@media screen and (width <= 768px) {
			font-size: 30px;
			max-width: 220px;
			text-wrap: balance;
		}
	}
}

// More
.block__more {
	grid-template-columns: repeat(4, 1fr);
	@media screen and (width <= 1440px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media screen and (width <= 1280px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media screen and (width <= 374px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

// Work Expirience
.block {
	&__expirience {
		gap: 10px;
		grid-template-columns: repeat(1, 1fr);
	}
	&__item-expirience {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

// Course
.block {
	&__course {
		grid-template-columns: repeat(1, 1fr);
		gap: 10px;
	}
}
// Description
.block__description {
	grid-template-columns: repeat(1, 1fr);
	gap: 40px;
	@media screen and (width <= 768px) {
		gap: 20px;
	}
}

// Hours
.block__hours {
	margin-top: -15px;
}
.advocatuur__container {
	@media screen and (width <= 1280px) {
		max-width: 100%;
		grid-template-columns: repeat(1, 1fr);
	}
}
// Map
.block__map {
	margin-top: 10px;
	img {
		max-width: 100%;
		width: 100%;
		height: auto;
	}
}
