:root {
	--color-blue-200: #050a50;
	--color-blue-150: #1e2364;
	--color-blue-100: #0014b4;
	--color-blue-80: #a9cdff;
	--color-blue-60: #cfe5ff;
	--color-blue-40: #e5f1ff;
	--color-blue-20: #f6f6f9;
	--color-orange: #f08c00;
	--color-orange-hovered: #e08403;
	--color-gray: #ceced1;
}
