.block {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 40px;
	row-gap: 30px;
	@media screen and (width <= 768px) {
		gap: 20px;
	}
	&__container {
		display: flex;
		flex-direction: column;
		gap: 30px;
		@media screen and (width <= 768px) {
			gap: 20px;
		}
	}
	&__title {
		font-size: 35px;
		font-style: normal;
		font-weight: 700;
		line-height: 185.714%;
		display: flex;
		align-items: center;
		gap: 15px;
		color: var(--color-blue-200);
		@media screen and (width <= 1440px) {
			font-size: 28px;
		}
		@media screen and (width <= 768px) {
			font-size: 20px;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		gap: 15px;
		@media screen and (width <= 768px) {
			gap: 10px;
		}
	}
	&__subtitle {
		font-size: 21px;
		font-style: normal;
		font-weight: 700;
		line-height: 128.571%;
		color: var(--color-blue-200);
		@media screen and (width <= 768px) {
			font-size: 15px;
		}
	}
	&__text {
		font-size: 21px;
		font-style: normal;
		font-weight: 400;
		line-height: 128.571%;
		color: var(--color-blue-200);
		@media screen and (width <= 768px) {
			font-size: 12px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 19px;
		padding-left: 15px;
		@media screen and (width <= 992px) {
			padding-left: 10px;
			gap: 15px;
		}
	}
	&__list-item {
		position: relative;
		padding-left: 17px;
		@media screen and (width <= 992px) {
			padding-left: 10px;
		}
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 7px;
			width: 7px;
			height: 7px;
			background: var(--color-blue-200);
			border-radius: 100%;
			@media screen and (width <= 992px) {
				width: 3.5px;
				height: 3.5px;
				top: 4px;
			}
		}
	}
	&__list-item--text {
		font-size: 26px;
		font-style: normal;
		font-weight: 700;
		line-height: 153.846%;
		color: var(--color-blue-200);
		@media screen and (width <= 992px) {
			font-size: 15px;
		}
	}
}
